---
layout: default
title: "Freelance Web Design and Development Services"
fulltitle: "Freelance Web Design and Development Services"
excerpt: Freelance Web Design and Development Services
---

<header class="header">

  <img src="/assets/svg/2323-design-branding.svg" class="header_logo" />

  <div class="header_intro">
    <p><i>{{ site.tagline }}</i></p>
  </div>

</header>

<nav class="nav">

  <ul class="nav_list">
    {% for item in site.data.nav %}
    <li class="nav_list-item">
    {% if item.btn == 'y' %}
      <a href="{{ item.url }}" class="btn btn--green">{{ item.title }}</a>
    {% else %}
      <a href="{{ item.url }}" class="nav_list-link">{{ item.title }}</a>
    {% endif %}
    </li>
    {% endfor %}
  </ul>

</nav>

<section class="text">

  <div class="measure">
    <p>Specialising in responsive web design &amp; development, 23:23 aim to provide search engine friendly, user friendly &amp; fast websites which deliver results.</p>
    <p>Aside from responsive web design, 23:23 provides branding, social media deisgn, graphic &amp; print design services.</p>
  </div>

</section>
